[Unit]
Description=GDash Gunicorn Daemon
#Requires=socket
After=network.target

[Service]
User=root
Group=nginx
#ExecStart=/srv/.gdash_venv/bin/gunicorn --workers 5 --bind unix:/srv/gdash/gdash.sock genomedashboard.wsgi:application
ExecStart=/srv/.gdash_venv/bin/gunicorn --pid /run/gunicorn/pid --workers 5 --bind unix:/srv/gdash/gdash.sock genomedashboard.wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=True

[Install]
WantedBy=multi-user.target
