.header-tail {
  color: #f90;
}

.gd-placeholder {
  width: auto;
  height: 22rem;
  padding: 1rem;
}

.gd-controller {
  margin: 0.2rem;
  border: 1px solid #f00;
  background-color: rgba(255, 0, 0, 0.05);
}

.gd-tracker {
  margin: 0.2rem;
  margin-right: 0;
  border: 1px solid #0f0;
  background-color: rgba(0, 255, 0, 0.05);
}

.gd-renderer {
  margin: 0.2rem;
  margin-left: 0;
  border: 1px solid #00f;
  background-color: rgba(0, 0, 255, 0.05);
}
