{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Title -->
{% block subtitle %}Home{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}
<!-- default css code (typically empty) -->
{% endblock styles %}

<!-- Template Inheritance Block For Navigation -->
{% block navigation %}{% endblock navigation %}

<!-- Template Inheritance Block For Sidebar -->
{% block sidebar %}{% endblock sidebar %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<h1>INDEX</h1>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}
<script src="{% static 'genomedashboard_v2/scripts/index.js' %}" crossorigin="anonymous"></script>
{% endblock scripts %}
