{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include "meta.html" %}

  <!-- Template Inheritance Block For Page Subtitle -->
  <title>Genome Dashboard {% block subtitle %}{% endblock subtitle %}</title>

  {% include "fonts.html" %}
  {% include "vendor_styles.html" %}
  {% include "custom_styles.html" %}

  <!-- Template Inheritance Block For Styles -->
  {% block styles %}{% endblock styles %}
</head>

<body>
  {% include "navigation.html" %}

  <div class="bg-image-container">
    <img src="{% static 'base/images/microbiology.jpg' %}" />
  </div>

  <div class="container-fluid content-container">
    <!-- Template Inheritance Block For Content -->
    {% block content %}{% endblock content %}
  </div>

  {% include "vendor_scripts.html" %}
  {% include "custom_scripts.html" %}

  <!-- Template Inheritance Block For Scripts -->
  {% block scripts %}{% endblock scripts %}
</body>

</html>
