{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Page Subtitle -->
{% block subtitle %} Dashboard 2{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/dashboard.css' %}">
{% endblock styles %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<h1>Dashboard 2: <span class="header-tail">JBrowse + NGLViewer</span></h1>

<p></p>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}{% endblock scripts %}
