{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Page Subtitle -->
{% block subtitle %} Dashboard 4{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/styles/dashboard.css' %}">
{% endblock styles %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<div class="row">
  <div class="col">

    <h1>Dashboard 4: <span class="header-tail">Biodalliance + NGLViewer</span></h1>

    <div class="row">
      <div class="col">
        <div class="gd-controller gd-placeholder">
          <h3>Controller</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="gd-tracker gd-placeholder">
          <h3>Tracker</h3>
        </div>
      </div>

      <div class="col">
        <div class="gd-renderer gd-placeholder">
          <h3>Renderer</h3>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}{% endblock scripts %}
