{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Page Subtitle -->
{% block subtitle %} Dashboard 4{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}{% endblock styles %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<h1>Dashboard 4</h1>

<p><i><a href="/dashboard/">Dashboard Index</a> > Dashboard 4</i></p>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}{% endblock scripts %}
