{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Page Subtitle -->
{% block subtitle %} Dashboard 1{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}{% endblock styles %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<h1>Dashboard Index</h1>

<p>Each of these prototype dashboard interfaces is an example of combining a different set of third-party solutions (genome trackers, 3d renders, etc.) with the genomedashboard controller code as implemented in the genome dashboard javascript and python libraries.</p>

<h3>Dashboard Objectives</h3>

<ul>
  <li>Validate compatibility between all possible candidate solutions and the genome dashboard libraries.</li>
  <li>Identify performance differences between candidate solutions.</li>
  <li>Normalize the interactions between these vendor solutions.</li>
</ul>

<h3>Candidate Solutions</h3>

<p>Genome Trackers</p>
<ul>
  <li><a href="https://www.biodalliance.org/" target="_blank">Biodalliance</a></li>
</ul>

<p>3D Molecular Rendering</p>
<ul>
  <li><a href="https://chemapps.stolaf.edu/jmol/jsmol/jsmol.htm" target="_blank">JSmol</a></li>
</ul>

<h3>Dashboard Variations</h3>

<ul>
  <li><a href="/dashboard/d1">Dashboard 1</a> - TBD</li>
  <li><a href="/dashboard/d2">Dashboard 2</a> - TBD</li>
  <li><a href="/dashboard/d3">Dashboard 3</a> - TBD</li>
  <li><a href="/dashboard/d4">Dashboard 4</a> - TBD</li>
</ul>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}{% endblock scripts %}
