{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Page Subtitle -->
{% block subtitle %} Example Template{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}{% endblock styles %}

<!-- Template Inheritance Block For Subnavigation -->
{% block subnavigation %}{% endblock subnavigation %}

<!-- Template Inheritance Block For Content -->
{% block content %}{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}{% endblock scripts %}
