<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-dna navbar-brand-icon"></i>G-Dash</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/polls">Polls</a>
      <!-- <a class="nav-item nav-link" href="/">Dash1</a> -->
      <!-- <a class="nav-item nav-link" href="/">Dash2</a> -->
      <!-- <a class="nav-item nav-link" href="/">Dash3</a> -->
      <!-- <a class="nav-item nav-link" href="/">Dash4</a> -->
    </div>
  </div>
</nav>
