{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Title -->
{% block subtitle %}Home{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'genomedashboard/styles/index.css' %}">
{% endblock styles %}

<!-- Template Inheritance Block For Navigation -->
{% block navigation %}{% endblock navigation %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<div class="row">
  <div class="subnav">
    <a href="http://dna.engr.latech.edu/" class="navbar-brand">TMBLAB</a>
  </div>
</div>
<div class="row content-container">
    <div class="col-xs-9">
        <h1>Genome Dashboard</h1>
        <p>Genomics is a sequence based informatics science and a structure based molecular science. Historically these two scientific approaches were distinct. There are few tools that unite them in a way that is readily accessible and yet scientifically robust. Here we introduce the concept of a genomics dashboard as a tool specifically designed to integrate informatics and physical modeling approaches for the study of chromatin. </p>
        <button class="btn btn-lg btn-primary" onclick="window.location.href='http://dna.engr.latech.edu/~gdash/'">GDash</button>
        <button class="btn btn-lg btn-primary" onclick="window.location.href='http://dna.engr.latech.edu/~zli007/ICM-DGB/'">GDash-dev</button>
        <button class="btn btn-lg btn-success" onclick="window.location.href='http://dna.engr.latech.edu/~gdash/GDash-landing-page/GDash-video.html'">Video Demo</button>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'genomedashboard/images/Responsive-Web-Design.png' %}" alt="" style="margin-top:1rem; width:20rem;">
    </div>
  </div>
</div>
{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}
<script type="text/javascript" src="{% static 'genomedashboard/scripts/index.js' %}" crossorigin="anonymous"></script>
{% endblock scripts %}
