{% extends "base.html" %}
{% load static %}

<!-- Template Inheritance Block For Title -->
{% block subtitle %}Home{% endblock subtitle %}

<!-- Template Inheritance Block For Styles -->
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'genomedashboard/styles/genomedashboard.css' %}">
{% endblock styles %}

<!-- Template Inheritance Block For Navigation -->
{% block navigation %}{% endblock navigation %}

<!-- Template Inheritance Block For Content -->
{% block content %}
<div class="bg-image-container">
  <img src="{% static 'base/images/microbiology.jpg' %}" />
</div>

<h1>Genome Dashboard</h1>

<p>Genomics is a sequence based informatics science and a structure based molecular science. Historically these two scientific approaches were distinct. There are few tools that unite them in a way that is readily accessible and yet scientifically robust. Here we introduce the concept of a genomics dashboard as a tool specifically designed to integrate informatics and physical modeling approaches for the study of chromatin.</p>

<h2>Projects</h2>

<h5><a href="https://github.com/genome-dashboard/genome-dashboard-python" target="_blank"><b>genome-dashboard-python</b></a></h5>
<p>The Genome Dashboard python package is the logic behind a web-based prototype of a genomics dashboard, specifically designed to integrate informatics and 4D material studies of chromatin. Genome Dashboard unites our Interactive Chromatin Modeling (ICM) tools with the Biodalliance genome browser and the JSMol molecular viewer to rapidly fold any DNA sequence into atomic or coarse-grained models of DNA, nucleosomes or chromatin.<br/>
<div class="substatus"><i>- Status Info Pending.</i></div>
</p>

<h5><a href="https://github.com/genome-dashboard/genome-dashboard-javascript" target="_blank"><b>genome-dashboard-javascript</b></a></h5>
<p>Javascript module for the genome dashboard project.<br/>
<div class="substatus"><i>- Status Info Pending.</i></div>
</p>

<h5><a href="https://github.com/genome-dashboard/genome-dashboard-webapp-v2" target="_blank"><b>genome-dashboard-webapp-v2</b></a></h5>
<p>Django 2.2 and Python 3.5 version of the Genome Dashboard webapp.<br/>
<div class="substatus"><i>- Status Info Pending.</i></div>
</p>

<h5><a href="https://github.com/genome-dashboard/genome-dashboard-webapp-v1" target="_blank"><b>genome-dashboard-webapp-v1</b></a></h5>
<p>Django 1.11 and Python 2.7.9 version of the Genome Dashboard webapp.<br/>
<div class="substatus"><i>- Deprecated in favor of version 2.</i></div>
</p>


{% endblock content %}

<!-- Template Inheritance Block For Scripts -->
{% block scripts %}
<script src="{% static 'genomedashboard/scripts/index.js' %}" crossorigin="anonymous"></script>
{% endblock scripts %}
